<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registered</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <span>Usuario</span>
        <div th:text="${name}">Nombre</div>
        <br/><br/>
        <span>Email</span>
        <div th:text="${email}">Email</div>
        <br/><br/>
        <span>Nombre de usuario</span>
        <div th:text="${username}">Username</div>
    </body>
</html>
